.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.mainmenubtn:hover {
    background-color: red;
}
    
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}
.dropdown-child {
    background-color: black;
    min-width: 200px;
    position: absolute;
    z-index: 2;
    right: 0;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}